/* #header {
  height: 90px;
  position: relative;
} */

.mainblock {
  padding: 50px;
  background-color: #f8f9fa;
  text-align: center;
  height: 455px;
}
.mainblock h2,
.mainblock h4 {
  margin-bottom: 20px;
}
.mainblock h4 p {
  margin: 0;
}
.navbar-brand img {
  width: 90px;
  height: 80px;
}
.mainblock-inner {
  max-width: 800px;
  margin: 0 auto;
  background-image: url("../Pictures/lodgepic.jpg");
}

#about-top {
  height: 455px;
}
